name: Check
on: [ pull_request, push ]
jobs:
  check:
    runs-on: ubuntu-latest
    # push: always run.
    # pull_request: run only when the PR is submitted from a forked repository, not within this repository.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    strategy:
      fail-fast: false
      matrix:
        jacksonVersion: [ "2.15.4", "2.16.2", "2.17.0" ]
    steps:
    - uses: actions/checkout@v4
    - name: Set up OpenJDK 8
      uses: actions/setup-java@v4
      with:
        java-version: 8
        distribution: "temurin"
        cache: "gradle"
    - name: Check with Jackson ${{ matrix.jacksonVersion }}
      run: ./gradlew --stacktrace -PjacksonVersionForJacksonTest=${{ matrix.jacksonVersion }} check
